
/*   general formatting   */

body {
    overflow-x: hidden;
    font:14px/24px 'Lato', sans-serif;
    height: 100%;
    background-color: #404E4D;
}

section {
    margin: 0;
    background-color: #BDBEA9;
}

.section-title h2 {
  color: #404E4D;
  font-size: 3em;
  letter-spacing: 1.9px;
  padding-top: 10vh;
}

.column {
  padding: 0px;
}



/** ABOUT **/

#about-section {
  clear: both;
}

#about-container {
  height: 50vh;
  background-color: #D64933;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-text {
  width: 80vw;
  max-width: 50%
  height: 30vh;
  font: 2.5vw 'Oswald', sans-serif;
  font-weight: 300;
  margin: 0;
  color: #BEC5AD;
  text-align: center;
  background-color: #D64933;
}





/*   portfolio   */

#portfolio {
  clear: both;
  background-color: #A67F8E;
  padding-bottom: 8%;
  height: 35vh;
}

#portfolio-container {
  height: 0;
}

#portfolio-title-row {
  margin-bottom: 100px;
}

#portfolio h2 {
  font-weight: bold;
}

#portfolio .row {
  margin: 0;
  height: 0;
}

#portfolio .portfolio-item {
    right: 0;
    height: 325px;
}

.portfolio-item {
  text-align: center;
  color: #404E4D;
  letter-spacing: 1.9px;
  background-color: transparent;
  border: none;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.portfolio-img:hover {
  opacity: 0.4;
}

.well {
  background-color: transparent;
  border: none;
  color: #404E4D;
  font-size: 25px;
  letter-spacing: 1.5px;
  padding: 0;
}

.portfolio-largeview {
  visibility: hidden;
  height: 0;
}

.portfolio-text h3 {
  font-size: 6vw;
  text-align: center;
  color: #404E4D;
  font-weight: bold;
}

.portfolio-text p {
  font-size: 3.5vw;
  font-weight: bold;
  text-align: left;
  color: #404E4D;
  margin-left: 5vw;
  margin-right: 5vw;
}

.portfolio-smallview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh 4vw 8vh 4vw;
  background-color: #A67F8E;
  margin-top: 3vh;
  margin-bottom: 0;
}

.portfolio-text {
  padding-bottom: 2vh !important;
}

.portfolio-item a {
  margin: 0;
}

@media(min-width:768px) {
    #portfolio-container {
      height: auto;
      background-color: #A67F8E;
      margin: 0;
    }
    .portfolio-smallview {
      visibility: hidden;
      height: 0;
      margin: 0;
    }
    .portfolio-largeview {
      visibility: visible;
    }
    .portfolio-text h3 {
      font-size: 30px;
      text-align: left;
    }
    .portfolio-text p {
      font-size: 22px;
      margin-left: 0;
      margin-right: 4vw;
    }
    .well .portfolio-largeview {
      margin-bottom: 10vh;
    }
    #portfolio .row {
      margin-bottom: 10vh;
      height: 40vh;
    }
    .portfolio-text {
      margin-bottom: 10vh;
    }
    .portfolio-img {
      margin-bottom: 5vh;
    }
}

iframe {
  width:100%;
  height: 100%;
  margin: 0;
}




/*   lede   */

#lede-text {
  width: 100%;
  height: 10vh;
  position: relative;
  padding: 10vh 3vh 10vh 2vh;
  margin: 20vh 3vh 10vh 2vh;
  background-color: #404E4D;
  color: #BEC5AD;
  border:none;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.8em;
  font-family: Oswald;
}

#lede-text ul {
  list-style-type: none;
  padding: 0 0 0 0;
}

#lede-text li {
  margin: 0 0 1.8em 0;
}

#lede-section {
  position: relative;
  padding-top: 2%;
  margin: 0 0 0 0;
  background-color: #404E4D;
  clear: both;
  display: flex;
}

.container-fluid  {
  margin: 0;
}

#photo-div {
  background-color: #BEC5AD;
}

#welcome-photo {
  width: 100%;
  position: relative;
  padding: 0;
  margin-top: 10vh;
  order: 2;
}

.text-column {
  order: 2;
}

.pic-column {
  order: 1;
}



/***   navbar  ***/


#main-menu {
  background-color: #404E4D;
  margin: 0;
  padding: 1.5em 4em 5em 4em;
  height: 12vh;

}

/*name color & size*/
/*.navbar .navbar-brand
*/
#my-name {
    color: #A67F8E;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: 10px;
    border-color: #A67F8E;
    font-size: 2.5em;
}


.navbar {
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;/*
    margin-left: -50px !important;  /* 50% of your logo width */*/
    display: block;
    /*width: 100vw;
    margin: 0;*/
    margin-left: -50vw;
    text-align: center;
}

.navbar-default {
  margin-right: 30px;
}

.navbar-default .navbar-nav {
  visibility: hidden;
}

.navbar-default .navbar-nav>li>a  {
    color: #BEC5AD;
    font-size: 1.25em;
    letter-spacing: 1.9px;
}

.navbar-default .navbar-nav>li>a:hover  {
    color: #D64933;
}

#my-name:hover {
    color: #D64933;
}


@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 3em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
    .navbar-default .navbar-nav {
      visibility: visible;
    }
    .navbar-brand {
        margin-left: 30px;
        left: 80px;
    }
    #lede-section {margin: 5% 0 0 0;}
    #lede-text {
      height: 70vh;
    }


.navbar {
    text-transform: lowercase;
    font-weight: 900;
    background-color: #404E4D;
    /*background-color: transparent;*/
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}


/*   contact/footer   */


#contact {
  background-color: #404E4D;
  padding-bottom: 10%;
}

#contact h2 {
  color: #BEC5AD;
  margin-bottom: 40px;
}

.contact-icon { text-align:center; margin:0 auto;  }
.contact-icon a {
  font-size: 70px;
  color: #BEC5AD;
  margin: 20px 25px 30px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: transparent;
  opacity: 0.2;
}
.contact-icon a {opacity: 1.0; color: #A67F8E;}
.contact-icon a:hover {opacity: 1.0; color: #D64933;}







